* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-dark:#222;
    --color-light:#FFFFFF;
    --color-principal:#d00000;
    --font-title:"Bebas Neue";
    --font-text:"Noto Sans";
}

html {
  scroll-behavior: smooth;
}

/*******************HEADER****************/

header {
    background-color: var(--color-dark);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    width: 40px;
}


.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.container-header a {
    color: var(--color-light);
    text-decoration: none;
    font-family: var(--font-text);
    font-weight: 800;

}

.container-header a:hover {
    color: var(--color-principal);
    text-decoration: underline;

}

.container-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.container-header button img {
    width : 30px;
}


/*carrito y fav*/

.container-items {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
}

/*carrito*/


.cart-btn {
    background: none;
    border: none;
    padding: 0.5rem;
    width: 2rem;
    aspect-ratio: 1;
    background-image: url(img/cart3.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cart-btn[aria-expanded="true"] {
    background-image: url(img/close.svg);
    
}


.total-carrito {
    font-family: var(--font-text);
    font-weight: 800;
    background-color: var(--color-principal);
    padding: 1rem 3rem;
    color: var(--color-light);
}


#btn-abrir-carrito {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.badge-contador-cart {
    position: absolute;
    top: -20px;        
    right: -100px;    
    background-color: var(--color-principal); 
    color: var(--color-light);
    font-size: 11px;
    font-weight: bold;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/*favoritos*/

.fav-btn {
    background: none;
    border: none;
    padding: 0.5rem;
    width: 2rem;
    aspect-ratio: 1;
    background-image: url(img/fav3.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fav-btn[aria-expanded="true"] {
    background-image: url(img/close.svg);
        
}


#btn-abrir-favoritos {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}


.badge-contador-fav {
    position: absolute;
    top: -20px;        
    right: -40px;    
    background-color: var(--color-principal); 
    color: var(--color-light);
    font-size: 11px;
    font-weight: bold;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* ASIDES */
.primary-fav,.primary-cart {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: min(450px, 100vw);
    height: 100vh;
    padding: 24px;
    background-color: var(--color-light);
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.25);
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}

.primary-fav[data-visible="true"] {
    transform: translateX(0%) translateY(0%);
}

.primary-cart[data-visible="true"] {
    transform: translateX(0%) translateY(0%);
}

.primary-fav h1,.primary-cart h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    font-family: var(--font-title);
    color: var(--color-dark);
    margin-bottom: 20px;
}

.lista-favoritos,.lista-carrito {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
}

.lista-favoritos li,.lista-carrito li {
    display: flex;
    align-items: center;
    gap: 12px;
    list-style: none;
    font-family: var(--font-text);
    font-weight: 700;
}


.lista-favoritos .img-fav,.lista-carrito .img-cart  {
    width: 64px;
    height: 96px;
    object-fit: cover;
    flex-shrink: 0;
    border: #fff solid 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.lista-carrito {
    display: flex;
    flex-direction: column; 
    gap: 12px;
    max-height: 650px; 
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
}

.scroll-interno-favoritos,.scroll-interno-carrito {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-height: 650px; 
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
}


.scroll-interno-favoritos li,.scroll-interno-carrito li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: #b8b8b8 solid 1px;
    gap: 12px;
    padding: 15px 0;
}

.scroll-interno-favoritos p,.scroll-interno-carrito p {
    font-family: var(--font-text);
    color: var(--color-dark);
    font-weight: 400;
}


.fav-btn-cerrar,.cart-btn-cerrar {
    background: none;
    border: none;
    padding: 0.5rem;
    width: 2rem;
    aspect-ratio: 1;
    background-image: url(img/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}


.remove-fav img,.remove-cart img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.remove-fav {
    background: none;
    border: none;
    margin-left: auto;    
    padding: 0;
}


.remove-fav, .remove-cart {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-cantidad {
    display: inline-flex; 
    align-items: center;
    gap: 5px;
    margin-left: auto;   
    margin-right: 15px; 
}

.btn-mas {
    cursor: pointer;
    padding: 1px 10px;
}

.btn-menos {
    cursor: pointer;
    padding: 1px 13px;
}

.control-cantidad button {
    color: var(--color-light);
    font-family: var(--font-text);
    font-weight: 800;
    font-size: 25px;
    background-color: var(--color-principal);
}

.cantidad-num {
    font-family: var(--font-text);
    font-weight: 400;
    color: var(--color-dark);
}


.scroll-interno-favoritos li .text-cart,
.scroll-interno-carrito li .text-cart {
    display: flex;
    flex-direction: column;
    gap: 4px; 
    text-align: left; 
    flex-grow: 1; 
}

/*SR-ONLY*/

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
}



/*******************ASIDES****************/

/*******************HEADER****************/


/******************* LANDING PAGE ****************/

.landing-page {
    display: flex;
    max-width: 100vh;
    align-items: center;
    margin: 110px;
}



.landing-page-im img {
    margin-left: 500px;
    width: 20rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.titulo-negro {
    font-family: var(--font-title);
    color: var(--color-dark); 
    font-size: 130px;
    margin-bottom: 10px;
}

.titulo-rojo {

    color: var(--color-principal);

}

.landing-page p {
    font-family: var(--font-title);
    color: var(--color-dark);
    font-size: 25px;

}



.boton-LP {
    display: inline-block;
    padding: 12px 40px;  
    margin: 10px;       
    text-decoration: none;
    font-family: var(--font-text);
    font-weight: bold;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    background-color: var(--color-principal);
    color: #FFFFFF;
    font-weight: 800;
    border-bottom: var(--color-dark) solid 4px;
    border-right: var(--color-dark) solid 4px;
}


.boton-LP:hover {
    background-color: #a00000; 
    border-color: #a00000;
    border-bottom: var(--color-dark) solid 4px;
    border-right: var(--color-dark) solid 4px;
}


.boton-LP2 {
    display: inline-block;
    padding: 12px 40px;  
    margin: 10px;       
    text-decoration: none;
    font-family: var(--font-text);
    font-weight: bold;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    background-color: var(--color-light);
    color: var(--color-principal);;
    border: 2px solid var(--color-principal);
}


.boton-LP2:hover {
    background-color: #e7e1e1; 
    border-color: #a00000;
}

@media (max-width: 1500px) {
    .landing-page-im {
        display: none;
    }

}

@media (max-width: 768px) {
    .landing-page {
        flex-direction: column;   
        text-align: center;       
        margin: 40px 20px;        
        max-width: 100%;          
        gap: 30px;
    }

    .titulo-negro {
        font-size: 70px;
        line-height: 1.1;
        margin-bottom: 15px;
    }

    .landing-page p {
        font-size: 18px;
        padding: 0 10px;
    }

    .landing-page .container-buttons,
    .landing-page div {
        width: 100%;
    }

    .boton-LP, .boton-LP2 {
        display: inline-block;
        width: 85%;
        max-width: 300px;
        margin: 10px auto;
        padding: 14px 20px;
    }

}

/*********************************************************************/


/*******************LANDING PAGE****************/


/*******************MAIN****************/

/*-----------CATÁLOGO-----------*/

.catalogo h1 {
    font-family: var(--font-title);
    margin-top: 20px;
    margin-left: 50px;
    font-size: 50px;
    color: var(--color-dark);
}

.contenedor-catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 280px), 280px));
    justify-content: center;
    grid-template-rows: auto;
    column-gap: 20px;
    padding: 0 1rem;
    max-width: 100%;
}


.producto {
    background-color: var(--color-light);
    box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    border-radius: 20px;
    padding: 20px 50px;
    width: 280px;
    max-width: 100%;
}

.producto h2 {
    font-family: var(--font-title);
    color: var(--color-dark);
    margin-bottom: 10px;
    text-align: center;
}


.producto img {
    box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.2);
    border: #fff solid 5px;
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin: 10px;
    transition: transform 0.3s ease;
}

.producto p {
    font-family: var(--font-text);
    margin-bottom: 5px;
    color: var(--color-dark);
}

@media (max-width: 1280px) {
.contenedor-catalogo {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .contenedor-catalogo {
    grid-template-columns: 1fr;
  }
}


.container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.btn-detalle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-principal);
    text-decoration: none;
    color: var(--color-light);
    border: none;
    border-bottom: var(--color-dark) solid 4px;
    border-right: var(--color-dark) solid 4px;
    padding: 8px 15px;
    cursor: pointer;
    font-family: var(--font-text);
    font-weight: 800;
    min-height: 40px;
    margin-right: 10px;
}

.btn-fav,
.btn-cart {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

}

.btn-fav img {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0;
    box-shadow: none;
    border: none;
    object-fit: contain;
    cursor: pointer;
}

.btn-cart img {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0;
    cursor: pointer;
    box-shadow: none;
    border: none;
    object-fit: contain;
}


.btn-fav img.active {
    content: url("img/fav2.svg");
}
/*-----------CATÁLOGO-----------*/
/*******************MAIN****************/

/*****************FOOTER************/

footer {
    padding-top: 30px;
    background-color: var(--color-dark);
    padding-bottom: 10px;
    margin-top: 40px;
}

.container-footer {
    display: flex;
    flex-direction: row; 
    align-items: center;    
    justify-content: space-between; 
    gap: 1.5rem;             
    max-width: 1200px;       
    margin: 0 auto;          
}

.logo-footer {
    width: 3rem;
    height: 3rem;
}

.container-footer ul {
    display: flex;
    flex-wrap: wrap;       
    justify-content: center;
    gap: 1.5rem;         
    padding: 0;
    margin: 0;
}

.container-footer ul li {
    list-style: none;
}

.container-footer ul li a {
    font-family: var(--font-text);
    color: var(--color-light);
    text-decoration: none;
}

.container-footer ul li a:hover {
    text-decoration: underline;
    color: var(--color-principal);
}


.text-footer {
    margin-top: 25px;
    padding-top: 15px;
}

.text-footer p {
    font-family: var(--font-text);
    text-align: center;
    color: var(--color-light);
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .container-footer {
        flex-direction: column;
        justify-content: center;                     
    }

.container-footer ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

}

/*****************FOOTER************/

/*****************DETALLE************/

.contenedor-principal-detalle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--color-light);
    border-radius: 12px;
    box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.2);
}

.columna-imagen {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.columna-imagen img {
    width: 100%;
    max-width: 380px;
    height: auto;
    border:#fff solid 10px;
    box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.2);
}

.columna-info {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.columna-info h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: var(--color-dark);
    font-family: var(--font-title);
}

.columna-info .precio {
    font-size: 1.5rem;
    color: var(--color-dark);
    font-family: var(--font-text);
}

.columna-info .container-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.columna-info .btn-fav,
.columna-info .btn-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    border: none;
    background-color: var(--color-principal);
    border-bottom: var(--color-dark) solid 4px;
    border-right: var(--color-dark) solid 4px;
    cursor: pointer;
}


.columna-info .btn-fav:hover {
    background-color: #a00000;
    border: none;
    border-bottom: var(--color-dark) solid 4px;
    border-right: var(--color-dark) solid 4px;
}

.columna-info .btn-cart:hover {
    background-color: #a00000;
    border: none;
    border-bottom: var(--color-dark) solid 4px;
    border-right: var(--color-dark) solid 4px;
}

.descripcion {
    font-family: var(--font-text);
    color: var(--color-dark);
    margin-top: 20px;
}


@media (max-width: 768px) {
    .contenedor-principal-detalle {
        flex-direction: column;
        align-items: center;
        padding: 40px;
    }
    
    .columna-info {
        padding-left: 20px;
    }
}

/*****************DETALLE************/

/*****************NOSOTROS************/

.linea-grande {
    width: 80%;
    height: 4px;
    background-color: var(--color-dark);
    margin: 20px auto 10px auto;
}

.linea-chica {
    width: 80%;
    height: 2px;
    background-color: var(--color-dark);
    margin: 0 auto 40px auto;
}

.titulo-nosotros {
    font-family: var(--font-title);
    color: var(--color-dark);
    font-size: 4rem;
    text-align: center;
    margin-top: 40px;
}
.parrafos {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    gap: 50px;             
    margin: 80px auto;     
    padding: 0 20px;
}


.texto {
    width: 550px;          
    text-align: justify; 
}

.texto h2 {
    font-family: var(--font-title);
    font-size: 50px;     
    margin-bottom: 15px;
    color: var(--color-dark);
    text-align: left;     
}

.texto p {
    line-height: 1.6;      
    font-size: 16px;
    color: var(--color-dark);
    font-family: var(--font-text);
}

.parrafos img {
    width: 300px;        
    height: auto; 
    border: var(--color-light) solid 8px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
    .titulo-nosotros {
        font-size: 2.5rem;      
        margin-top: 25px;
    }

    .parrafos {
        flex-direction: column;   
        margin: 40px auto;        
        gap: 35px;                
    }

    .texto {
        width: 100%;              
        max-width: 90%;           
        text-align: left;         
    }

    .texto h2 {
        font-size: 32px;          
        text-align: center;       
    }

    .texto p {
        font-size: 15px;      
    }

    .parrafos img {
        width: 80%;              
        max-width: 280px;        
        margin: 0 auto;          
    }

    .linea-chica {
        margin: 0 auto 25px auto;
    }
}

/*******************NOSOTROS****************/





